<div *ngIf="ready">
  <div class="d-lg-flex align-items-center">
    <i class="fa fa-user-circle-o fa-2x align-self-start" aria-hidden="true"></i>
    <span class="ml-2">
      <small class="font-weight-bold">{{ comment.by }}</small>
      <small class="time-comment ml-2">{{ comment.time | date: 'mediumTime' }}</small>
    </span>
  </div>
  <div class="ml-lg-2">
    <p class="mb-0">
      <small>{{ comment.text }}</small>
    </p>
    <p>
      <small class="p-2">
        <i class="fa fa-commenting-o mr-1" aria-hidden="true"></i>
        <a href="#collapsible-{{commentId}}" (click)="toggleCommentCollapsed(); toggleActive()" [ngClass]="{'active': commentActive}"
          data-toggle="collapse" class="comment-link">[{{ comment.additionalComments }}]</a>
      </small>
    </p>
  </div>
</div>

<div id="collapsible-{{commentId}}" class="collapse white-background col-lg-12" *ngIf="!commentCollapsed">
  <app-comments [commentIds]="comment.kids"></app-comments>
</div>
