:host>div>small {
  color: #898989;
}

:host /deep/ a {
  text-decoration: none;
  color: rgb(63, 184, 206);
}

:host /deep/ a:hover,
:host /deep/ a.active {
  color: black;
}

:host>div>div>p>small {
  word-break: break-all;
}
