<div class="media border p-3 white-background" *ngIf="ready">
  <div class=" circle-icon align-self-center">
    <i class="fa fa-hacker-news fa-2x"></i>
  </div>
  <div class="media-body ml-4">
    <h5 class="news-title mb-0">
      <a href="{{ story.url }}" target="_blank" class="text-capitalize font-weight-bold">{{ story.title }}</a>
    </h5>
    <div class="news-author d-lg-flex d-md-flex d-sm-flex">
      <p class="mr-2 mb-1">
        <small>Posted by:
          <b class="font-weight-bold">{{ story.by }}</b>
        </small>
      </p>
      <p class="mb-1">
        <small> {{ story.time | date:'medium' }} </small>
      </p>
    </div>
    <div class="comments-score d-flex align-items-center">
      <div class="comments d-flex align-items-center">
        <a href="#collapse-{{ storyId }}" (click)="toggleCommentsCollapsed()" class="text-dark collapsed card-link" data-toggle="collapse">
          <i class="fa fa-comment-o fa-lg" (click)="toggleIconActive()" [ngClass]="{'active': iconActive}"></i>
        </a>
        <div class="ml-1 text-center"><span>{{ story.commentsCount }}</span></div>
      </div>
      <div class="score ml-3">
        <span>{{ story.score }}</span> points</div>
    </div>
  </div>
</div>

<div id="collapse-{{ storyId }}" class="collapse white-background border col-xl-11 col-lg-11 col-md-11 col-sm-12 col-12 float-xl-right float-lg-right float-md-right"
  *ngIf="ready && !commentsCollapsed">
  <app-comments [commentIds]="story.kids"></app-comments>
</div>
