<div id="news" class="container mb-3">
  <div class="row">
    <ngx-spinner bdColor="rgb(255,255,255)" size="large" color="#71dce7" type="ball-atom"></ngx-spinner>
    <app-story class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngFor="let storyId of stories | paginate: {itemsPerPage: 20, currentPage: p}"
      [storyId]="storyId"></app-story>
    <div class="pagination-fixed pt-3 col-lg-12 col-12 mx-sm-auto">
      <pagination-controls (pageChange)="p = $event" class="text-center mx-auto pl-0"></pagination-controls>
    </div>
  </div>
</div>
