/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~font-awesome/css/font-awesome.css';
@import '~animate.css';
body,
* {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

body {
  background-image: url(/assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#logo-title {
  text-align: center;
}

#logo-title>div>span {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.news-title>a {
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.news-title>a:hover,
.comments>a:hover {
  color: rgb(56, 200, 216) !important;
}

.circle-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #71DCE7;
  background-color: #71DCE7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-author>p:nth-child(2),
.news-author>p>small {
  color: #898989;
}

.comments>i {
  vertical-align: text-bottom;
  font-size: 16px;
}

.score {
  font-size: 12px;
}

.comments>div {
  line-height: 1;
  color: #fff;
  background-color: #71DCE7;
  border: 1px solid #71DCE7;
  border-radius: 50%;
  padding: 3px;
  font-size: 8px;
  width: 18px;
  height: 18px;
}

.comments>div>span {
  vertical-align: text-bottom;
}

hr {
  width: 30%;
  border-bottom-color: lightgrey;
  margin-top: 0px;
}

footer>nav {
  background-image: url(./assets/images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ngx-pagination .current {
  background-color: #71DCE7 !important;
}
